        <!------------------------------ featured categories------------------------------>
        <div class="categories">
            <div class="small-container">
                <div class="row">
            <p>We offer more than just footwear - we provide you with a luxurious and elite shopping experience. 
                Created with the mission of accentuating your beauty and individual style, we take pride in presenting our diverse and 
                unique shoe collection, meticulously curated from leading brands worldwide.</p>
                        <div class="col-3" style="margin-top: 30px;">
                            <img src="~/images/category-1.jpg">
                <h2 style="text-align: center;">Luxurious and Refined</h2>
                        </div>
                        <div class="col-3">
                <p style="font-size: 15px; text-align: justify; margin-top: 0;">"Each pair of shoes in our store represents more than just a product - it is a work of art, embodying refinement and sophistication. We take pride in being a partner to those who appreciate fashion and value class."</p>
                        </div>
            <p>"Here, we offer more than just footwear - this is a place where you can discover the latest trends and unique designs. Our collection is constantly updated to meet the diversity and innovation in the world of fashion."</p>
                        <div class="col-3">
                            
                        </div>
                    <div class="small-container">
                        <div class="row">
                            <div class="col-3">
                        <p style="font-size: 15px; text-align: justify; margin-top: 0;" ">" Each pair of shoes in our store is not merely a 
                            product, but a tangible manifestation of artistry, embodying the essence of elegance and sophistication. They are 
                            meticulously crafted, mirroring an unspoken narrative of finesse and luxury. We stand in proud partnership with 
                            those who have an affection for fashion and a discerning appreciation for the value of class. Our mission extends 
                            beyond providing quality footwear, as we strive to enhance the personal journey of each customer, offering a 
                            transformative experience that elevates their style and sophistication."</p>
                            </div>
                            <div class="col-3">
                                <img src="/images/category-3 (2).jpg">
                        <h2 style="text-align: center;">Sustainable and High-Quality</h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            
            
            </div>
        </div>
        
        <!------------------------------ featured Products------------------------------>
        
        
        <!--------------------------`   offer   --------------------------------->
        <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="/images/LV1.png" class="offer-img">
                    </div>
                    <div class="col-2">
                <p>"We believe that choosing footwear extends beyond comfort; it's about expressing your unique personality. 
                    Allow us to be your premier destination in the journey of crafting an impression of style 
                    and sophistication that is uniquely yours."</p>
                        <a href="products.html" class="btn">Buy Now &#8594;</a>
                    </div>
                </div>
            </div>
        </div>

<!----------------------------------Brands------------------------------------>
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="/images/logo-godrej.png" alt="">
            </div>
            <div class="col-5">
                <img src="/images/logo-oppo.png" alt="">
            </div>
            <div class="col-5">
                <img src="/images/logo-coca-cola.png" alt="">
            </div>
            <div class="col-5">
                <img src="/images/logo-paypal.png" alt="">
            </div>
            <div class="col-5">
                <img src="/images/logo-philips.png" alt="">
            </div>
        </div>
    </div>
</div>